<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="max-width: 400px; width: 100%;">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;" ><img src="icons/scs-small.png" alt="lock" height="75%" width="75%"></div>
      <div class="col-sm-12" style="text-align: center;">
        <h2 class="card-title text-center mb-3">
          Login
        </h2>
      </div>
      <!-- <div class="col-sm-12" style="text-align: right;"> <img src="icons/lock.svg" alt="lock" height="50%" width="50%"></div> -->
    </div>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Enter username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
            placeholder="Enter password">
          <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign In</button>
    </form>
  </div>
</div>