.equispacedcontent {
    display: flex;
    justify-content: space-between;
  }
  
  .my-class {
    background-color: red;
    color: white;
  }
  
  // .highlighted {
  //   background-color: rgba(0, 128, 0, 0.801) !important;
  //   td {
  //     color: #fff !important;
  //   }
  // }
  
  .mat-column-Code,
  .mat-column-ValidTill,
  .mat-column-Select {
    flex: 0 0  10%;
    text-align: left;
  }
  
  .mat-column-LodgeName {
    flex: 0 0  30%;
    text-align: left;
  }
  
  // .datadashboard td {
  //  margin-left: 20px;
  // }
  
  table.datadashboard td {
    padding-left: 20px;
  }
  
  .roundedwithboxshadow {
    box-shadow: 15px 15px grey;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

